.jumbotron {
  background-image: linear-gradient(rgb(23, 223, 250), rgb(255, 255, 255));
  text-align: start;
  border-radius: 2px;
}

.jumbotron h1,
h2 {
  font-family: "Indie Flower", cursive;
  
}

input,
button {
  appearance: none;
  background: none;
  border: none;
  outline: none;
}

form {
  display: block;
  position: relative;
}

form label {
  display: block;
}

form input {
  background-color: rgb(215, 255, 242);
  border-radius: 8px;
  border-style: groove;
  border-color: rgb(148, 148, 148);
  border-width: 2px;
  width: 80%;
  margin-inline-end: 5px;
}

form input[type="submit"] {
  margin-top: 20px;
  width: 20%;
}

form img {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s linear, opacity 0.3s linear;
}

.namepic:focus-within img {
  visibility: visible;
  opacity: 1;
}

.emailpic:focus-within img {
  visibility: visible;
  opacity: 1;
}

.passpic:focus-within img {
  visibility: visible;
  opacity: 1;
}

.landingScreen {
  display: inline-flex;
  position: absolute;
  border: 1px solid;
  border-color: black;
  border-width: 2px;
  top: 40%;
  bottom: 40%;
  left: 33%;
  right: 33%;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  overflow: hidden;
}

.testcat {
  size: auto;
}
